@import "_variables";

body {
  padding-top: 140px;
}
h1,
h2 {
  margin-bottom: 30px;
  text-align: center;
  padding-top: 20px;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}
.bookSection {
  padding-top: 20px;
}
.bookItem{
  margin-bottom: 30px;
}
main .imgWrapper{
  img{
    transition: all 0.3s;
    &:hover{
      transform: scale(1.1);
    }
  }
}

.textWrapper {
  margin-top: 20px;
  ul {
    padding: 0;
    text-align: center;
    li:first-child {
      margin-bottom: 10px;
      height: 50px;
      overflow: hidden;
    }
    li.itemPrice {
      margin-bottom: 20px;
    }
    li a {
      background-color: $red;
      border-radius: 3px;
      color: white;
      display: block;
      text-align: center;
      cursor: pointer;
      &:hover {
          background-color: lighten($red, 5);
      }
    }
  }
}
.d_none{
  display: none;
}
.faild{
  color: white;
  background-color: $red;
  border: 1px solid $red;
}
.success{
  color: white;
  background-color: green;
  border: 1px solid green;
}
.faild, .success, .showBtn{
  padding: 5px 15px;
  border-radius: 3px;
}
.showBtn{
  background-color: $red;
  color: white;
  &:hover{
    background-color: lighten($red, 5);
    color: white;
  }
}
.btnWrapper{
  display: flex;
  justify-content: center;
  .showBtn{
    background-color: black;
    margin-bottom: 30px;
    &:hover{
      background-color: lighten(black, 5);
    }
  }
}
#info{
  text-align: center;
  p{
    margin-bottom: 0;
  }
}
.sortItems{
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 20px;
  label{
    margin-right: 15px;
    margin-bottom: 0;
  }
}